.registration-module{

    padding:40px;
}

#registrationForm{

    display:flex;

    flex-direction:column;

    gap:20px;

    width:400px;
}

#registrationForm input{

    padding:15px;

    border-radius:12px;

    border:none;
}

#registrationForm button{

    padding:15px;

    background:#00e1ff;

    border:none;

    border-radius:12px;

    cursor:pointer;
}